<style>
    body {
        font-family: verdana;
        background-color: aliceblue;
    }

    #Home {
        border-radius: 5px;
        background-color: orangered;
    }
</style>

<a id="Home" href="{% url 'polls:index' %}">Home</a>

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>